<p id="error_message"><%= session[:message] %></p>
<% session.delete(:message) %>
<div class="form_container">
  <ul class="form_list">
    <li>
      <h1 id="form_header">Create New Blog</h1>
      <span class="required_notification">* Denotes a required field</span>
    </li>
    <form class="create_blog_form" action="/blog" method="post">
      <hr>
      <br>
      <label for="title">Blog Title: <span class="asterisk">*</span></label>
      <li><input class="textbox" type="text" name="title" required></li>
      <label for="subtitle">Subtitle:</label>
      <li><input class="textbox" type="text" name="subtitle"></li>
      <label for="post_body">Blog Post Body: <span class="asterisk">*</span></label>
      <li><textarea name="post_body" cols="40" rows="6" required></textarea></li>
      <li><button class="form_button" type="submit">Create Post</button></li>
      <hr>
    </form>
  </ul>
  <br>
  <br>
  <br>
  <br>
</div>