<p id="error_message"><%= session[:message] %></p>
<% session.delete(:message) %>
<div class="form_container">
  <ul class="form_list">
    <li>
      <div id="form_header">Create New Blog</div><span class="required_notification">* Denotes a required field</span>
    </li>
    <form class="create_blog_form" action="/blog" method="post">
      <hr>
      <label for="title">Blog Title: <span class="asterisk">*</span></label>
      <li><input class="textbox" type="text" name="title" required></li>
      <label for="subtitle">Subtitle:</label>
      <li><input class="textbox" type="text" name="subtitle"></li>
      <label for="post_description">Blog Post Description: <span class="asterisk">*</span></label>
      <li><textarea name="post_description" maxlength="250" cols="40" rows="6" required></textarea></li>
      <label>Document Type:</label>
      <li>
        <select class="dropdown" name="post_format">
          <option value="markdown">Markdown</option>
          <option value="html">HTML</option>
        </select>
      </li>
      <label for="original_text">Blog Post Body: <span class="asterisk">*</span></label>
      <li><textarea name="original_text" cols="40" rows="6" required></textarea></li>
      <li><button class="form_button" type="submit">Create Post</button></li>
      <hr>
    </form>
  </ul>
  <br>
  <br>
  <br>
  <br>
</div>