<% if logged_in %>
  <p>Welcome, admin!</p>
<% end %>
<h1>Create New Blog</h1>
<p id="error_message"><%= session[:message] %></p>
<% session.delete(:message) %>
<form action="/blog" method="post">
  <input type="text" placeholder="Blog Title" name="title"></br>
  <input type="text" placeholder="Blog Subtitle" name="subtitle"></br>
  <textarea placeholder="Blog Post Body" name="post_body"></textarea></br>
  <button type="submit">Create Post</button>
</form>