<article id="post_container">
  <ul id="blog_post_layout">
    <li>
      <h1 id="blog_title"><%= title %></h1>
      <span id="blog_date"><%= date %></span>
    </li>
    </br>
    <li id="blog_subtitle"><h4><%= subtitle %></h4></li>
    </br>
    <li id="postbody"><%= post_body %></li>
  </ul>
</article>
<div id="blog_list_container">
  <ul>
    <li id="blog_post_list">blog post links</li></br>
    <li id="blog_post_list">blog post links</li></br>
    <li id="blog_post_list">blog post links</li></br>
    <li id="blog_post_list">blog post links</li></br>
  </ul>
</div>