<%= error_message %>
<div class="form_container">
  <form class="login_form" action="/login" method="post">
    <ul class="form_list">
      <li><input class="textbox" type="password" placeholder="Password" name="password"></li>
      <li><button class="form_button" type="submit">Login</button></li>
    </ul>
  </form>
</div>