<% @current = "portfolio" %>
<div id="portfolio_container">
  <div id="portfolio_left">
    <h1>Project: <a href="http://www.nathanaelburt.me">Personal Site</a></h1>
    <p><a href="https://github.com/nburt/personal_website">GitHub Repository</a></p>
    <ul>
      <li>Built custom blogging platform using <a href="https://github.com/nburt/personal_website/tree/master/spec">Test-Driven Development</a></li>
      <li>Built using Sinatra, Ruby, HTML, CSS, postgreSQL</li>
      <li>Integrated Keen.io API for event data metrics</li>
      <li>Integrated Kramdown to allow use of Markdown for blog posts</li>
    </ul>
  </div>
  <div id="portfolio_right">
    <img class="portfolio_image" src="/images/personal_site_preview.jpg">
  </div>
</div>