<!DOCTYPE html>
<html>
<head>
  <title>Nathanael Burt | Portfolio</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
</nav>
<h1>Nathanael Burt's Portfolio</h1>
</body>
</html>