<% @current = "portfolio" %>
<div class="portfolio_container">
  <div class="portfolio_left">
    <h1>Project: <a href="http://www.onefeedapp.com" target="_blank">OneFeed</a></h1>
    <p><a href="https://github.com/nburt/one_feed" target="_blank">GitHub Repository</a></p>
    <ul>
      <li>Social media aggregator to stream multiple social media accounts and post back to them</li>
      <li>Integrated Facebook, Twitter, and Instagram APIs</li>
      <li>Optimized speed with parallel API requests, infinite scrolling, pagination, and more efficient JSON parsing</li>
      <li>User authentication with has_secure_password and social media APIs</li>
      <li>Password reset with MessageVerifier and SendGrid email</li>
      <li>Built using Ruby on Rails, JavaScript, jQuery, HTML, SASS, Bourbon, Neat, PostgreSQL</li>
      <li>Tested with RSpec, Capybara, Selenium Webdriver, Jasmine, WebMock</li>
    </ul>
  </div>
  <div class="portfolio_right">
    <img class="portfolio_image" src="/images/one_feed_homepage.png">
  </div>
</div>
<div class="portfolio_container">
  <div class="portfolio_left">
    <h1>Project: <a href="http://www.nathanaelburt.me" target="_blank">Personal Site</a></h1>
    <p><a href="https://github.com/nburt/personal_website" target="_blank">GitHub Repository</a></p>
    <ul>
      <li>Built custom blogging platform using <a href="https://github.com/nburt/personal_website/tree/master/spec">Test-Driven Development</a></li>
      <li>Built using Sinatra, Ruby, HTML, CSS, PostgreSQL</li>
      <li>Integrated Keen.io API for event data metrics</li>
      <li>Integrated Kramdown to allow use of Markdown for blog posts</li>
      <li>Integrated SendGrid to send emails to admin when someone comments on a blog</li>
    </ul>
  </div>
  <div class="portfolio_right">
    <img class="portfolio_image" src="/images/personal_site_preview.jpg">
  </div>
</div>
<div class="portfolio_container">
  <div class="portfolio_left">
    <h1>Project: <a href="http://my-teams.herokuapp.com" target="_blank">My Teams</a></h1>
    <p><a href="https://github.com/nburt/my_teams" target="_blank">GitHub Repository</a></p>
    <ul>
      <li>Built app using the ESPN API to stream news articles of your favorite sports teams</li>
      <li>Built using Rails, Ruby, HTML, SASS, JQuery, PostgreSQL</li>
      <li>Integrated VCR and Webmock to test API calls</li>
      <li>User authentication using has_secure_password</li>
    </ul>
  </div>
  <div class="portfolio_right">
    <img class="portfolio_image" src="/images/my_teams.png">
  </div>
</div>