<% @current = "resume" %>

<div id="resume_container">
  <h1 class="section_headers">Education</h1>
  <ul>
    <li>
      <h3 class="location">The Colorado College, Colorado Springs, CO</h3><span class="years">2008 - 2012</span>
    </li>
    <li class="list_items">Bachelor of Arts, Major: Distinction in Romance Languages. GPA: 3.60</li>
    <li class="list_items">Thesis: Translation of Fahrenheit 451 by Ray Bradbury from English into French</li>
    <li class="list_items">Awards: Colorado College French Award for 2010/11</li>
  </ul>
  <br>
  <ul>
    <li>
      <h3 class="location">gSchool, Boulder, CO</h3><span class="years">March - August, 2014</span>
    </li>
    <li class="list_items">24-week full stack web development program</li>
    <li class="list_items">Pair programming, agile development, version control, test-driven development</li>
  </ul>
  <br>
  <h1 class="section_headers">Work Experience</h1>
  <ul>
    <li>
      <h3 class="location">Translation Excellence, Aurora, CO</h3><span class="years">July 2012 - February 2014</span>
    </li>
    <li><h6 class="work_title">Project Manager</h6></li>
    <li class="list_items">Coordination of translation and interpreting projects</li>
    <li class="list_items">Preparation of quotes and request for proposals for submittal to corporations and
      government agencies
    </li>
    <li class="list_items">Market research to determine need for technical and medical translation services</li>
    <li class="list_items">Accounting</li>
    <li class="list_items">French <> English translation</li>
  </ul>
  <br>
  <ul>
    <li>
      <h3 class="location">Translation Excellence, Aurora, CO</h3><span class="years">January 2013 - July 2013</span>
    </li>
    <li><h6 class="work_title">Interim Director of Operations</h6></li>
    <li class="list_items">Ran day-to-day business operations of translation company</li>
    <li class="list_items">Surpassed previous year's total revenue in 6 months</li>
    <li class="list_items">Successfully completed biggest project in company history</li>
    <li class="list_items">Created organized company database and implemented systems for increased efficiency and
      consistency
    </li>
  </ul>
  <br>
  <ul>
    <li>
      <h3 class="location">Global Academic Evaluators, Aurora, CO</h3>
      <span class="years">July 2012 - February 2014</span>
    </li>
    <li><h6 class="work_title">International Credential Evaluator</h6></li>
    <li class="list_items">Evaluating foreign academic records to determine their equivalency in United States
      educational standards
    </li>
    <li class="list_items">Database development</li>
    <li class="list_items">Writing website, social media, and marketing content</li>
    <li class="list_items">Search engine optimization</li>
  </ul>
  <br>
  <ul>
    <li>
      <h3 class="location">DP Dough, Denver, CO</h3><span class="years">July 2012 - December 2012</span>
    </li>
    <li><h6 class="work_title">Restaurant Employee</h6></li>
    <li class="list_items">Taking orders, packing orders, cleaning, baking</li>
    <li class="list_items">Food delivery to customers</li>
  </ul>
  <br>
  <ul>
    <li>
      <h3 class="location">Hunan Springs, Colorado Springs, CO</h3><span class="years">October 2009 - June 2012</span>
    </li>
    <li><h6 class="work_title">Restaurant Employee</h6></li>
    <li class="list_items">Developed Colorado College credit system that resulted in increased sales</li>
    <li class="list_items">In charge of marketing and event planning for Hunan Springs at Colorado College</li>
    <li class="list_items">Pack orders, take phone calls, and deliver food</li>
  </ul>
  <br>
  <h1 class="section_headers">Leadership Experience</h1>
  <ul>
    <li>
      <h3 class="location">Tennis</h3><span class="years">2004 - 2012</span>
    </li>
    <li class="list_items">Four years of varsity tennis in high school</li>
    <li class="list_items">New England singles champion</li>
    <li class="list_items">Four years of varsity tennis in college</li>
    <li class="list_items">Captain of tennis team at Colorado College 2011 - 2012</li>
    <li class="list_items">Named to SCAC all-tournament doubles team, 2012</li>
  </ul>
  <br>
  <ul>
    <li>
      <h3 class="location">People to People Sports Ambassadors</h3><span class="years">July 2000</span>
    </li>
    <li class="list_items">Played on a soccer team in Germany and the Netherlands as a representative of the United
      States
    </li>
    <li class="list_items">Captain of the soccer team</li>
    <li class="list_items">Nominated for Sports Ambassador of the Year</li>
  </ul>
  <br>
  <h1 class="section_headers">Skills</h1>
  <ul>
    <li class="list_items">Ruby, JavaScript, HTML, CSS, Rails, Sinatra, PostgreSQL, GitHub</li>
    <li class="list_items">Test-driven development, pair-programming</li>
    <li class="list_items">Fluent in French, proficient in Spanish, intermediate Italian</li>
    <li class="list_items">Proficient in Word, Excel, PowerPoint, Adobe Acrobat Pro, QuickBooks, Facebook, LinkedIn,
      Twitter, Google Plus
    </li>
    <li class="list_items">Search Engine Optimization</li>
    <li class="list_items">Marketing, sales, and customer service</li>
  </ul>
</div>