<div id="show_comment_container">
  <table>
    <tr>
      <td>Name:</td>
      <td><%= comment[:name] %></td>
    </tr>
    <tr>
      <td>Comment:</td>
      <td><%= comment[:comment] %></td>
    </tr>
  </table>
  <div id="comment_link_container">
    <a href="/blog/<%= slug %>/comment/<%= comment[:id] %>/edit">Edit Comment</a>
  </div>
</div>