body {
  background-color: #BABABA;
  font-family: "Sniglit", sans-serif;
}

#background_picture {
  background: url("/images/background.jpg") no-repeat;
  background-size: 100% 100%;
}

#top_header {
  margin: 3% inherit;
  text-align: center;
  font-size: 2em;
}

#top_header a:link, #top_header a:visited {
  text-decoration: none;
  color: #fff;
  padding: .25em .5em;
  border-radius: 0.2em;
}

#top_header a:hover, #menubar ul li a:hover {
  border: 1px solid #00749d;
  background-color: #00749d;
  border-radius: 0.2em;
  padding: .25em .5em;
}

#menubar {
  display: block;
  margin: 2% inherit;
  text-align: center;
  list-style: none;
}

#menubar li {
  display: inline;
  font-size: 1.5em;
}

#menubar ul li a:link, #menubar ul li a:visited {
  display: inline-block;
  padding: .5em;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5%;
  border-radius: .2em;
  border: 1px;
}

#menubar a.current:link, #menubar a.current:visited, #menubar a.current:hover {
  border: 1px solid #00749d;
  border-radius: .2em;
  background-color: #00749d;
  color: #fff;
}

div.form_container {
  width: 90%;
  margin: auto;
}

ul.form_list {
  width: 90%;
  list-style: none;
  list-style-position: outside;
  margin: auto;
}

hr {
  background-color: #000;
  width: 100%;
  margin: auto
}

.form_container .form_list li:first-child, .form_container .form_list li:last-child {
  width: 90%;
}

.form_list li {
  padding: 1em;
  margin: auto;
}

#form_header {
  padding: 0;
}

.form_list h1 {
  display: inline;
  font-size: 2em;
}

.required_notification {
  float: right;
  color: #d45252;
  display: inline;
  margin: 1em 0 0 0;
}

.asterisk {
  color: #d45252;
}

#admin_welcome {
  margin: 2% 0 0 5%;
  color: #fff;
}

.create_blog_form label {
  width: 17.5%;
  margin-top: .2em;
  display: inline-block;
  float: left;
  padding: .2em;
}

.create_blog_form input, .login_form input {
  height: 2em;
  width: 20%;
  padding: .25em .35em;
  border: 0.1em solid #aaa;
  border-radius: 0.5em;
}

.create_blog_form textarea {
  padding: .35em;
  width: 45%;
  border: 0.1em solid #aaa;
  border-radius: 0.5em;
}

.create_blog_form button {
  margin-left: 17%;
  border-radius: 0.5em;
  border: 1px solid #BABABA;
  padding: .5em;
  font-size: 1.5em;
  background-color: #BABABA;
}

.create_blog_form button:hover {
  background-color: #00749d;
  border: 1px solid #00749d;
  cursor: pointer;
  border-radius: 0.5em;
  padding: .5em;
  color: #fff;
}

.login_form .form_button {
  border-radius: 0.5em;
  padding: .5em;
  font-size: 1.5em;
  margin: auto;
  border-style: none;
  background-color: #BABABA;
  color: #000;
}

.login_form .form_button:hover {
  background-color: #00749d;
  cursor: pointer;
  color: #fff
}

.login_form {
  text-align: center;
}

#link_container {
  width: 90%;
  margin: auto;
  text-align: center;
}

#create_blog_link {
  border-radius: 0.5em;
  padding: .5em;
  font-size: 1.5em;
  text-decoration: none;
  color: #000;
}

#create_blog_link:hover {
  border: 1px solid #00749d;
  background-color: #00749d;
  color: #fff;
}

#post_container {
  width: 60%;
  margin: 2.5% 2.5% 5% 10%;
  float: left;
}

#blog_list_container {
  width: 20%;
  float: right;
  margin: 11% 5% 5% 2.5%;
}

#blog_title {
  width: 90%;
  font-size: 2em;
  display: inline;
  text-align: left;
}

#blog_subtitle {
  width: 90%;
  font-size: 1.25em;
}

#blog_date {
  display: inline;
  float: right;
  margin: 1em 0 0 0;
}

#post_container #blog_post_layout {
  list-style: none;
}

#blog_list_container #blog_post_list {
  list-style: none;
}

#resume_container {
  width: 50%;
  margin: 0 auto;
}

.section_headers {
  font-size: 2em;
  padding: 0 0 .5em 0;
}

#resume_container li {
  list-style: none;
  padding: .2em;
}

.location {
  font-size: 1.25em;
  display: inline;
}

.years {
  font-size: 1.25em;
  display: inline;
  float: right;
}

#resume_container li.list_items {
  list-style: circle;
  margin-left: 3.5%;
}

footer {
  margin: 5% auto;
  text-align: center;
}

footer ul li {
  display: inline;
  padding: .5%;
}

footer ul li img {
  width: 4%;
  height: 4%;
}